%%-*- mode: erlang -*-
{lib_dirs,            [".."]}.
{erl_opts,            [debug_info, nowarn_shadow_vars, warnings_as_errors]}.
{xref_checks,         [undefined_function_calls, exports_not_used]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,
 [{upper_otp_stdlib2, ".*", {git, "https://github.com/peterlearn/upper_otp_stdlib2.git", {branch, "master"}}}]}.
